header {
  margin-bottom: 60px;
}
#signup input {
  display: block;
}
#wrap_register {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -160px;
}
#wrap_register input {
  width: 95%;
}
.row-fluid [class*="span"] {
  margin-left: 0px;
}
.list_flats .span3 img {
  width: 170px;
}
.list_flats button {
  margin-bottom: 0;
}
.list_flats .span12 {
  margin-left: 15px;
}
.list_flats .span12:hover {
  background: rgba(0,0,0,0.03);
}
.list_flats .span12:first-child {
  margin-left: 15px;
}
.text-login {
  color: rgba(0,0,0,0.3);
}
.title-flat {
  color: rgba(0,0,0,0.3);
}
