{% extends "AdminBundle::layout.html.twig" %}

{% block content %}

    <!-- BEGIN BLOCK -->
    <div class="hero-unit">
        <h2>Admin creation</h2>

        <form action="{{ path('create_booking') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button type="submit" class="btn btn-primary" >Create</button>
            </p>
        </form>

    </div>
    <!-- END BLOCK -->

{% endblock %}
