<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheets
        '%kernel.root_dir%/../vendor/bootstrap/less/bootstrap.less'
        '%kernel.root_dir%/../vendor/bootstrap/less/responsive.less'
        '@FrontBundle/Resources/public/css/style.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
    <header>
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="#">trivagoBooking</a>
                <ul class="nav">
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 well">

            </div>
            <div class="span9">
                <ul class="thumbnails">
                    <li class="span12">
                        <div class="thumbnail">
                            <img src="@FrontBundle/Resources/public/images/room.jpg" class="img-rounded">
                            <h3>Thumbnail label</h3>
                            <p>Thumbnail caption...</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</body>
</html>